.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.spyderproject
.ropeproject
*/.ipynb_checkpoints/*

games.csv
recommendations.csv
recommendations_large.csv
users.csv

tempCodeRunnerFile.py
cosine_sim_matrix.npz
similarity_desc.pkl
similarity_forDesc.pkl